In [1]:
import sqlite3

In [3]:
try:
    sqliteConnection = sqlite3.connect('MSmovies.db')
    cursor = sqliteConnection.cursor()
    print("Database created and Successfully Connected to SQLite")

    sqlite_select_Query = "select sqlite_version();"
    cursor.execute(sqlite_select_Query)
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    
except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.32.3',)]

In [4]:
# Creating a table
'''cursor.execute("""CREATE TABLE Movies_Table (
    Movie_Name     VARCHAR PRIMARY KEY,
    Movie_Actor    VARCHAR,
    Movie_Actress  VARCHAR,
    Movie_Year     INTEGER,
    Movie_director VARCHAR,
    Movie_lang     VARCHAR
)""")'''

# Inserting data into table
cursor.execute("INSERT INTO Movies_Table VALUES('Interstellar','Mathew McConaughey','Anna Hathaway','2014','Christopher Nolan','English')")
print("Command executed successfully")
cursor.execute("INSERT INTO Movies_Table VALUES('John Wick','Keenu Reeves','Bridget Moynahan','2014','Chad Stahelski','English')")
cursor.execute("INSERT INTO Movies_Table VALUES('Inception','Leonardo Dicaprio','Marion','2010','Christopher Nolan','English')")
cursor.execute("INSERT INTO Movies_Table VALUES('Logan','Hugh Jackman','Dafne Keen','2017','James Mangold','English')")
cursor.execute("INSERT INTO Movies_Table VALUES('Edge of Tomorrow','Tom Cruise','Emily Blunt','2014','Doung Liman','English')")
cursor.execute("INSERT INTO Movies_Table VALUES('Parasite','Choi Woo-shik','Park So-dam','2019','Bong Joon-ho','Korean')")
cursor.execute("INSERT INTO Movies_Table VALUES('Death Note ','Nat Wolff','Margaret Qualley','2017','Adam Wingard','Japneese')")
cursor.execute("INSERT INTO Movies_Table VALUES('Mirage ','Chino Darín','Adriana Ugarte','2018','Oriol Paulo','English')")

Command executed successfully

In [5]:
cursor.execute("SELECT * FROM Movies_Table")
movie_list = cursor.fetchall()
for i in movie_list:
    print (i)
print("\n")

('Interstellar', 'Mathew McConaughey', 'Anna Hathaway', 2014, 'Christopher Nolan', 'English')
('John Wick', 'Keenu Reeves', 'Bridget Moynahan', 2014, 'Chad Stahelski', 'English')
('Inception', 'Leonardo Dicaprio', 'Marion', 2010, 'Christopher Nolan', 'English')
('Logan', 'Hugh Jackman', 'Dafne Keen', 2017, 'James Mangold', 'English')
('Edge of Tomorrow', 'Tom Cruise', 'Emily Blunt', 2014, 'Doung Liman', 'English')
('Parasite', 'Choi Woo-shik', 'Park So-dam', 2019, 'Bong Joon-ho', 'Korean')
('Death Note ', 'Nat Wolff', 'Margaret Qualley', 2017, 'Adam Wingard', 'Japneese')
('Mirage ', 'Chino Darín', 'Adriana Ugarte', 2018, 'Oriol Paulo', 'English')

In [6]:
f=0
name = input("Enter the actor name to print his movie:")
name = name.upper()         #to convert every input character to uppercase 
for i in movie_list:
    t=i[1].upper()          #converted to uppercase to check with input name
    if(t==name):
        cursor.execute("SELECT * FROM Movies_Table WHERE Movie_Actor='i[1]'")
        mov_list = cursor.fetchall()
        print(i)
        f=1
if(f==0):
    print("Actor not found in the database!!")
    cursor.close()
    sqliteConnection.close()
    print("The SQLite connection is closed")

Enter the actor name to print his movie:ridha
Actor not found in the database!!
The SQLite connection is closed